In [1]:
#  *** THIS DATA (FROM API) HAS BEEN CHECKED AGAINST DATA.CENSUS.GOV TABLES***

In [2]:
## Build an equitable economy: INCOME
### Baltimore City median income, Black median income, Black-white income gap
## 2019

In [3]:
# data source: 2019 Census Data (ACS-1 year) for Selected Variables - Baltimore City

In [4]:
#pip install censusdata

In [5]:
# Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import requests
import censusdata

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [8]:
# need to change the working directory; be sure that the config file for the census API is also in this folder
#os.chdir('C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\analysis_nbs')

In [9]:
#os.getcwd()

In [10]:
pd.set_option('display.max_rows', 200)

In [11]:
pd.set_option('max_colwidth', 100)

In [12]:
# American Community Survey 1-Year Data 

data = censusdata.download('acs1', 2019,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '510')]),
                                        ["B19001_001E","B01003_001E",
                                         "B19013_001E",
                                         "B02001_002E", "B02001_003E",
                                         "B19013A_001E", "B19013B_001E"])
                          
census_2019 = pd.DataFrame(data)
census_2019

,B19001_001E,B01003_001E,B19013_001E,B02001_002E,B02001_003E,B19013A_001E,B19013B_001E
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",242694,593490,50177,179979,371243,81116,39101

In [13]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with text so it's understandable
census_2019 = census_2019.rename(columns={"B19001_001E": "Total households",
                                      "B01003_001E": "Population",
                                      "B19013_001E": "Median household income",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_002E": "Pop. white",
                                      "B19013A_001E": "Median HH income White Alone Householder",
                                      "B19013B_001E": "Median HH income Black or African American Alone Householder",  
                                      })
census_2019.head()

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",242694,593490,50177,179979,371243,81116,39101

In [14]:
census = census_2019.copy()
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",242694,593490,50177,179979,371243,81116,39101

In [15]:
census.index = ['Baltimore, 2019']
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore, 2019",242694,593490,50177,179979,371243,81116,39101

In [16]:
census = census.reset_index()
census

,index,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2019",242694,593490,50177,179979,371243,81116,39101

In [17]:
census = census.rename(columns={"index": "Year"})                                           
census

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2019",242694,593490,50177,179979,371243,81116,39101

In [18]:
income_2019 = census.copy()
income_2019

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2019",242694,593490,50177,179979,371243,81116,39101

In [19]:
income_2019[["Location", "Year"]] = income_2019.Year.str.split(",", expand=True)
income_2019

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Location
0,2019,242694,593490,50177,179979,371243,81116,39101,Baltimore

In [20]:
# Export file as a CSV, without the Pandas index, but with the header
#income_2019.to_csv("balt_income_2019.csv", index = False, header=True)

In [21]:
# American Community Survey 1-Year Data 
data_rates = censusdata.download('acs1', 2019,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '510')]),
                                        ["B17001_001E","B17001_002E","B23025_001E","B23025_002E",
                                         "B23025_004E","B23025_005E"
                                        ])
rates_2019 = pd.DataFrame(data_rates)
rates_2019

,B17001_001E,B17001_002E,B23025_001E,B23025_002E,B23025_004E,B23025_005E
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",570960,115472,485560,303032,280352,22110

In [22]:
rates_2019 = rates_2019.rename(columns={
                                      "B17001_001E": "Persons for whom poverty status determined",    
                                      "B17001_002E": "Individuals- income below poverty level",# universe: persons for whom poverty status is determined
                                      "B23025_001E":  "Population 16 years and over",
                                      "B23025_002E": "In labor force", # universe: Population 16 years and over
                                      "B23025_004E": "Employed civilians", # universe: Population 16 years and over
                                      "B23025_005E": "Unemployed civilians", # universe: Population 16 years and over
                                      })
rates_2019.head()

,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",570960,115472,485560,303032,280352,22110

In [23]:
rates2019 = rates_2019.copy()

In [24]:
rates2019.index = ['Baltimore, 2019']
rates2019

,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
"Baltimore, 2019",570960,115472,485560,303032,280352,22110

In [25]:
rates2019 = rates2019.reset_index()
rates2019

,index,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
0,"Baltimore, 2019",570960,115472,485560,303032,280352,22110

In [26]:
rates2019 = rates2019.rename(columns={"index": "Year"})                                           
rates2019

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
0,"Baltimore, 2019",570960,115472,485560,303032,280352,22110

In [27]:
rates2019 [["Location", "Year"]] = rates2019 .Year.str.split(",", expand=True)
rates2019

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location
0,2019,570960,115472,485560,303032,280352,22110,Baltimore

In [28]:
# Add a new column for poverty rate 
rates2019["Poverty rate"] = (100 * \
    rates2019["Individuals- income below poverty level"].astype(
        int) / rates2019["Persons for whom poverty status determined"].astype(int)).round()


# Add a new column for unemployment rate 
rates2019["Unemployment rate"] = (100 * \
    rates2019["Unemployed civilians"].astype(
        int) / rates2019["Population 16 years and over"].astype(int)).round()
rates2019.head()

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Poverty rate,Unemployment rate
0,2019,570960,115472,485560,303032,280352,22110,Baltimore,20.0,5.0

In [29]:
#rates2019["Poverty rate"] = rates2019["Poverty rate"].astype(float).round(1)
#rates2019["Unemployment rate"] = rates2019["Unemployment rate"].astype(float).round(1)

In [30]:
# Add a new column for labor participation rate 
rates2019["Labor participation rate"] = (100 * \
    rates2019["In labor force"].astype(
        int) / rates2019["Population 16 years and over"].astype(int)).round(1)
rates2019.head()

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Poverty rate,Unemployment rate,Labor participation rate
0,2019,570960,115472,485560,303032,280352,22110,Baltimore,20.0,5.0,62.4

In [31]:
# Export file as a CSV, without the Pandas index, but with the header
#rates2019.to_csv("balt_employment_2019.csv", index = False, header=True)