In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import censusdata
%matplotlib inline

In [2]:
# import csv file & save the data from the csv in variable

unemployment = "Tableau_csvs/unemployment_Balt_MD.csv"

In [3]:
df_unemployment = pd.read_csv(unemployment)
df_unemployment

,White alone,Black or African American alone,Hispanic or Latino origin,Year,Geographic area
0,4.3,8.4,6.2,2021,Maryland
1,5.0,10.1,8.5,2021,Baltimore City
2,3.4,6.9,4.6,2019,Maryland
3,3.4,10.0,8.6,2019,Baltimore City
4,3.8,7.1,5.2,2018,Maryland
5,3.8,8.9,9.6,2018,Baltimore City
6,4.1,7.6,4.9,2017,Maryland
7,3.5,10.4,5.6,2017,Baltimore City

In [4]:
df_unemployment.dtypes

White alone                        float64
Black or African American alone    float64
Hispanic or Latino origin          float64
Year                                 int64
Geographic area                     object
dtype: object

In [5]:
df_unemployment["White"] = df_unemployment["White alone"].astype(float).round(1)
df_unemployment["Black or African American"] = df_unemployment["Black or African American alone"].astype(float).round(1)
df_unemployment["Hispanic or Latino origin"] = df_unemployment["Hispanic or Latino origin"].astype(float).round(1)

df_unemployment

,White alone,Black or African American alone,Hispanic or Latino origin,Year,Geographic area,White,Black or African American
0,4.3,8.4,6.2,2021,Maryland,4.3,8.4
1,5.0,10.1,8.5,2021,Baltimore City,5.0,10.1
2,3.4,6.9,4.6,2019,Maryland,3.4,6.9
3,3.4,10.0,8.6,2019,Baltimore City,3.4,10.0
4,3.8,7.1,5.2,2018,Maryland,3.8,7.1
5,3.8,8.9,9.6,2018,Baltimore City,3.8,8.9
6,4.1,7.6,4.9,2017,Maryland,4.1,7.6
7,3.5,10.4,5.6,2017,Baltimore City,3.5,10.4

In [6]:
df_unemployment["Year"] = df_unemployment["Year"].astype(str)

In [7]:
df_unemployment = df_unemployment.drop(["White alone", "Black or African American alone"], axis=1)

In [8]:
df_unemployment.dtypes

Hispanic or Latino origin    float64
Year                          object
Geographic area               object
White                        float64
Black or African American    float64
dtype: object

In [9]:
df_unemployment

,Hispanic or Latino origin,Year,Geographic area,White,Black or African American
0,6.2,2021,Maryland,4.3,8.4
1,8.5,2021,Baltimore City,5.0,10.1
2,4.6,2019,Maryland,3.4,6.9
3,8.6,2019,Baltimore City,3.4,10.0
4,5.2,2018,Maryland,3.8,7.1
5,9.6,2018,Baltimore City,3.8,8.9
6,4.9,2017,Maryland,4.1,7.6
7,5.6,2017,Baltimore City,3.5,10.4

In [11]:
df_unemployment.to_excel("Tableau_csvs/Balt_MD_unemployment_for_Tableau.xlsx")