In [1]:
#  *** THIS DATA (FROM API) HAS BEEN CHECKED AGAINST DATA.CENSUS.GOV TABLES***

In [2]:
## Build an equitable economy: INCOME
### Baltimore City median income, Black median income, Black-white income gap
## 2017

In [3]:
# data source: 2017 Census Data (ACS-1 year) for Selected Variables - Baltimore City

In [4]:
#pip install censusdata

In [5]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests
import censusdata

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [8]:
# need to change the working directory; be sure that the config file for the census API is also in this folder
#os.chdir('C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\analysis_nbs')

In [9]:
#os.getcwd()

In [10]:
pd.set_option('display.max_rows', 200)

In [11]:
pd.set_option('max_colwidth', 100)

In [12]:
# American Community Survey 1-Year Data 

data = censusdata.download('acs1', 2017,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '510')]),
                                        ["B19001_001E","B01003_001E",
                                         "B19013_001E",
                                         "B02001_002E", "B02001_003E",
                                         "B19013A_001E", "B19013B_001E"])
                          
census_2017 = pd.DataFrame(data)
census_2017

,B19001_001E,B01003_001E,B19013_001E,B02001_002E,B02001_003E,B19013A_001E,B19013B_001E
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",240280,611648,47131,183988,383508,75009,36648

In [13]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with text so it's understandable
census_2017 = census_2017.rename(columns={"B19001_001E": "Total households",
                                      "B01003_001E": "Population",
                                      "B19013_001E": "Median household income",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_002E": "Pop. white",
                                      "B19013A_001E": "Median HH income White Alone Householder",
                                      "B19013B_001E": "Median HH income Black or African American Alone Householder",  
                                      })
census_2017.head()

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",240280,611648,47131,183988,383508,75009,36648

In [14]:
census = census_2017.copy()
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",240280,611648,47131,183988,383508,75009,36648

In [15]:
census.index = ['Baltimore, 2017']
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Baltimore, 2017",240280,611648,47131,183988,383508,75009,36648

In [16]:
census = census.reset_index()
census

,index,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2017",240280,611648,47131,183988,383508,75009,36648

In [17]:
census = census.rename(columns={"index": "Year"})                                           
census

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2017",240280,611648,47131,183988,383508,75009,36648

In [18]:
income_2017 = census.copy()
income_2017

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Baltimore, 2017",240280,611648,47131,183988,383508,75009,36648

In [19]:
income_2017[["Location", "Year"]] = income_2017.Year.str.split(",", expand=True)
income_2017

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Location
0,2017,240280,611648,47131,183988,383508,75009,36648,Baltimore

In [20]:
# Export file as a CSV, without the Pandas index, but with the header
#income_2017.to_csv("balt_income_2017.csv", index = False, header=True)

In [21]:
# American Community Survey 1-Year Data 
data_rates = censusdata.download('acs1', 2017,
                          censusdata.censusgeo([('state', '24'),
                                         ('county', '510')]),
                                        ["B17001_001E","B17001_002E","B23025_001E","B23025_002E",
                                         "B23025_004E","B23025_005E"
                                        ])
rates_2017 = pd.DataFrame(data_rates)
rates_2017

,B17001_001E,B17001_002E,B23025_001E,B23025_002E,B23025_004E,B23025_005E
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",588922,130980,498844,307585,284018,23261

In [22]:
rates_2017 = rates_2017.rename(columns={
                                      "B17001_001E": "Persons for whom poverty status determined",    
                                      "B17001_002E": "Individuals- income below poverty level",# universe: persons for whom poverty status is determined
                                      "B23025_001E":  "Population 16 years and over",
                                      "B23025_002E": "In labor force", # universe: Population 16 years and over
                                      "B23025_004E": "Employed civilians", # universe: Population 16 years and over
                                      "B23025_005E": "Unemployed civilians", # universe: Population 16 years and over
                                      })
rates_2017.head()

,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
"Baltimore city, Maryland: Summary level: 050, state:24> county:510",588922,130980,498844,307585,284018,23261

In [23]:
rates2017 = rates_2017.copy()

In [24]:
rates2017.index = ['Baltimore, 2017']
rates2017

,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
"Baltimore, 2017",588922,130980,498844,307585,284018,23261

In [25]:
rates2017 = rates2017.reset_index()
rates2017

,index,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
0,"Baltimore, 2017",588922,130980,498844,307585,284018,23261

In [26]:
rates2017 = rates2017.rename(columns={"index": "Year"})                                           
rates2017

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians
0,"Baltimore, 2017",588922,130980,498844,307585,284018,23261

In [27]:
rates2017 [["Location", "Year"]] = rates2017 .Year.str.split(",", expand=True)
rates2017

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location
0,2017,588922,130980,498844,307585,284018,23261,Baltimore

In [28]:
# Add a new column for unemployment rate 
rates2017["Unemployment rate"] = (100 * \
    rates2017["Unemployed civilians"].astype(
        int) / rates2017["Population 16 years and over"].astype(int)).round()
rates2017.head()

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate
0,2017,588922,130980,498844,307585,284018,23261,Baltimore,5.0

In [29]:
#rates2017["Poverty rate"] = rates2017["Poverty rate"].astype(float).round(1)
#rates2017["Unemployment rate"] = rates2017["Unemployment rate"].astype(float).round(1)

In [30]:
# Add a new column for labor participation rate 
rates2017["Labor participation rate"] = (100 * \
    rates2017["In labor force"].astype(
        int) / rates2017["Population 16 years and over"].astype(int)).round(1)
rates2017.head()

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Labor participation rate
0,2017,588922,130980,498844,307585,284018,23261,Baltimore,5.0,61.7

In [31]:
# Export file as a CSV, without the Pandas index, but with the header
#rates2017.to_csv("balt_employment_2017.csv", index = False, header=True)