In [1]:
## Build a stronger workforce:
# Maryand
# Black vs. white employment, residents with Associate's degree and higher
## 2019

In [2]:
# data source:

In [3]:
#pip install prettytable

In [4]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import censusdata
%matplotlib inline

In [5]:
#import os

In [6]:
#os.getcwd()

In [7]:
pd.set_option('display.max_rows', 200)

In [8]:
pd.set_option('max_colwidth', 100)

In [9]:
# see https://www.bls.gov/opub/reports/race-and-ethnicity/2016/#table-1
# Civilian labor force. This group comprises all people classified as employed or unemployed in accordance with the criteria described above.

# Unemployment rate. This rate is the number unemployed as a percentage of the civilian labor force.

# Labor force participation rate. This rate is the labor force as a percentage of the population.

# Employmentâ€“population ratio. This ratio is the number of employed as a percentage of the population.

In [10]:
# American Community Survey 1-Year Data DETAILED Tables 

data = censusdata.download('acs1', 2019,
                          censusdata.censusgeo([('state', '24'),
                                                ]),
                                        ["B01003_001E",
                                         "B02001_003E",
                                         "B02001_002E",
                                         "B23025_002E",
                                         "B08301_001E",
                                         "B15002_001E",
                                         "B15003_016E",
                                         "B15003_017E",
                                         "B15003_021E",
                                         "B15003_022E",])
# create dataframe                          
census_2019 = pd.DataFrame(data)
census_2019

,B01003_001E,B02001_003E,B02001_002E,B23025_002E,B08301_001E,B15002_001E,B15003_016E,B15003_017E,B15003_021E,B15003_022E
"Maryland: Summary level: 040, state:24",6045680,1830059,3296909,3279799,3074208,4183858,64959,903664,287293,911781

In [11]:
# Replace variable codes in the dataframe with text so it's understandable
df_2019 = census_2019.rename(columns={"B01003_001E": "Population",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_002E": "Pop. white",
                                      "B23025_002E": "Pop_in_labor_force",
                                      "B15002_001E": "Population_25yrs_and_over",
                                      "B08301_001E": "Workers_16_yrs_and_over",
                                      "B15003_016E": "# persons 12th grade, no diploma",
                                      "B15003_017E": "# persons age 25+ graduated high school",
                                      "B15003_021E": "# persons Associate's degree",
                                      "B15003_022E": "# persons Bachelor's degree",
                                          
                                    })
df_2019.head()

,Population,Pop. Black,Pop. white,Pop_in_labor_force,Workers_16_yrs_and_over,Population_25yrs_and_over,"# persons 12th grade, no diploma",# persons age 25+ graduated high school,# persons Associate's degree,# persons Bachelor's degree
"Maryland: Summary level: 040, state:24",6045680,1830059,3296909,3279799,3074208,4183858,64959,903664,287293,911781

In [12]:
df_2019["Percent graduated high school"] = 100 * \
    df_2019["# persons age 25+ graduated high school"].astype(
        int) / df_2019["Population_25yrs_and_over"].astype(
        int) 
df_2019["Percent graduated high school"] = df_2019["Percent graduated high school"].astype(float).round(1)

In [13]:
df_2019["Percent earned Associate's degree"] = 100 * \
    df_2019["# persons Associate's degree"].astype(
        int) / df_2019["Population_25yrs_and_over"].astype(
        int) 
df_2019["Percent earned Associate's degree"] = df_2019["Percent earned Associate's degree"].astype(float).round(1)

In [14]:
df_2019["Percent earned Bachelor's degree"] = 100 * \
    df_2019["# persons Bachelor's degree"].astype(
        int) / df_2019["Population_25yrs_and_over"].astype(
        int) 
df_2019["Percent earned Bachelor's degree"] = df_2019["Percent earned Bachelor's degree"].astype(float).round(1)
df_2019

,Population,Pop. Black,Pop. white,Pop_in_labor_force,Workers_16_yrs_and_over,Population_25yrs_and_over,"# persons 12th grade, no diploma",# persons age 25+ graduated high school,# persons Associate's degree,# persons Bachelor's degree,Percent graduated high school,Percent earned Associate's degree,Percent earned Bachelor's degree
"Maryland: Summary level: 040, state:24",6045680,1830059,3296909,3279799,3074208,4183858,64959,903664,287293,911781,21.6,6.9,21.8

In [15]:
workforce_2019 = df_2019.copy()

In [16]:
workforce_2019.index = ['Maryland, 2019']

In [17]:
workforce_2019 = workforce_2019.reset_index()

In [18]:
workforce_2019 = workforce_2019.rename(columns={"index":"Year"})
workforce_2019

,Year,Population,Pop. Black,Pop. white,Pop_in_labor_force,Workers_16_yrs_and_over,Population_25yrs_and_over,"# persons 12th grade, no diploma",# persons age 25+ graduated high school,# persons Associate's degree,# persons Bachelor's degree,Percent graduated high school,Percent earned Associate's degree,Percent earned Bachelor's degree
0,"Maryland, 2019",6045680,1830059,3296909,3279799,3074208,4183858,64959,903664,287293,911781,21.6,6.9,21.8

In [19]:
# Export file as a CSV, without the Pandas index, but with the header
workforce_2019.to_csv("MDworkforce_2019.csv", index = False, header=True)