In [1]:
## Build an equitable economy: INCOME
### MD median income, Black median income, Black-white income gap
## 2019

In [2]:
# data source: 2019 Census Data (ACS-1 year) for Selected Variables - Maryland

In [3]:
#pip install censusdata

In [4]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

from us import states
import censusdata

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [7]:
# need to change the working directory; be sure that the config file for the census API is also in this folder
#os.chdir('C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\analysis_nbs')

In [8]:
#os.getcwd()

In [9]:
pd.set_option('display.max_rows', 200)

In [10]:
pd.set_option('max_colwidth', 100)

In [11]:
# American Community Survey 1-Year Data 

data = censusdata.download('acs1', 2019,
                          censusdata.censusgeo([('state', '24'),
                                               ]),
                                        ["B19001_001E","B01003_001E",
                                         "B19013_001E",
                                         "B02001_002E", "B02001_003E",
                                         "B19013A_001E", "B19013B_001E"])
                          
census_2019 = pd.DataFrame(data)
census_2019

,B19001_001E,B01003_001E,B19013_001E,B02001_002E,B02001_003E,B19013A_001E,B19013B_001E
"Maryland: Summary level: 040, state:24",2226767,6045680,86738,3296909,1830059,96724,68377

In [12]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with text so it's understandable
census_2019 = census_2019.rename(columns={"B19001_001E": "Total households",
                                      "B01003_001E": "Population",
                                      "B19013_001E": "Median household income",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_002E": "Pop. white",
                                      "B19013A_001E": "Median HH income White Alone Householder",
                                      "B19013B_001E": "Median HH income Black or African American Alone Householder",  
                                         })
census_2019.head()

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Maryland: Summary level: 040, state:24",2226767,6045680,86738,3296909,1830059,96724,68377

In [13]:
census = census_2019.copy()
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Maryland: Summary level: 040, state:24",2226767,6045680,86738,3296909,1830059,96724,68377

In [14]:
census.index = ['Maryland, 2019']
census

,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
"Maryland, 2019",2226767,6045680,86738,3296909,1830059,96724,68377

In [15]:
census = census.reset_index()
census

,index,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Maryland, 2019",2226767,6045680,86738,3296909,1830059,96724,68377

In [16]:
census = census.rename(columns={"index": "Year"})                                           
census

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Maryland, 2019",2226767,6045680,86738,3296909,1830059,96724,68377

In [17]:
income_2019 = census.copy()
income_2019

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder
0,"Maryland, 2019",2226767,6045680,86738,3296909,1830059,96724,68377

In [18]:
income_2019[["Location", "Year"]] = income_2019.Year.str.split(",", expand=True)
income_2019

,Year,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,Location
0,2019,2226767,6045680,86738,3296909,1830059,96724,68377,Maryland

In [19]:
# Export file as a CSV, without the Pandas index, but with the header
#income_2019.to_csv("MD_income_2019.csv", index = False, header=True)