In [1]:
#  *** THIS DATA (FROM API) HAS BEEN CHECKED AGAINST DATA.CENSUS.GOV TABLES***

In [2]:
## Build an equitable economy: INCOME
### U.S. median income, Black median income, Black-white income gap
## 2014

In [3]:
# see https://jtleider.github.io/censusdata/api.html

In [4]:
# data source: 2014 Census Data (ACS-1 year) for Selected Variables - U.S.

In [5]:
# Dependencies
import json
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

#c = Census(api_key)

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [8]:
# need to change the working directory; be sure that the config file for the census API is also in this folder
#os.chdir('C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\analysis_nbs')

In [9]:
pd.set_option('display.max_rows', 200)

In [10]:
pd.set_option('max_colwidth', 100)

In [11]:
# see https://iqss.github.io/datafest-project/optional-u-s-census-data-python.html
# see census api example urls     https://api.census.gov/data/2019/acs/acs1/examples.html  
url = f"https://api.census.gov/data/2014/acs/acs1?get=NAME,B19001_001E,B01003_001E,B19013_001E,B02001_002E,B02001_003E,B19013A_001E,B19013B_001E&for=us:1&key={api_key}"

response = requests.get(url)
response.status_code

200

In [12]:
us = response.json()
us_df_income = pd.DataFrame(us[1:], columns=us[0])
# alternatively   us_df = pd.DataFrame(us[1:], columns=us[0]).rename(columns={'NAME':'country', 
# B01003_001E": "Population","B01002_001E": "Median Age"})
us_df_income

,NAME,B19001_001E,B01003_001E,B19013_001E,B02001_002E,B02001_003E,B19013A_001E,B19013B_001E,us
0,United States,117259427,318857056,53657,233963128,40379066,57355,35481,1

In [13]:

us_df_income = us_df_income.rename(columns={"B19001_001E": "Total households",
                              "B01003_001E": "Population",
                              "B19013_001E": "Median household income",
                              "B02001_003E": "Pop. Black",
                              "B02001_002E": "Pop. white",
                              "B19013A_001E": "Median HH income White Alone Householder",
                              "B19013B_001E": "Median HH income Black or African American Alone Householder",  
                              "NAME": "Geography"})
us_df_income

,Geography,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,us
0,United States,117259427,318857056,53657,233963128,40379066,57355,35481,1

In [14]:
us_df_income = us_df_income.copy()
us_df_income

,Geography,Total households,Population,Median household income,Pop. white,Pop. Black,Median HH income White Alone Householder,Median HH income Black or African American Alone Householder,us
0,United States,117259427,318857056,53657,233963128,40379066,57355,35481,1

In [15]:
# Export file as a CSV, without the Pandas index, but with the header
#us_df_income.to_csv("us_income_2014.csv", index = False, header=True)

In [16]:
# American Community Survey 1-Year Data 

data_rates = censusdata.download('acs1', 2014,
                          censusdata.censusgeo
                                 (["B17001_001E","B17001_002E","B23025_001E","B23025_002E",
                                   "B23025_004E","B23025_005E"
                                 ])
rates_2014 = pd.DataFrame(data_rates)
rates_2014

SyntaxError: invalid syntax (353371283.py, line 8)

In [ ]:
rates_2014 = rates_2014.rename(columns={
                                      "B17001_001E": "Persons for whom poverty status determined",    
                                      "B17001_002E": "Individuals- income below poverty level",# universe: persons for whom poverty status is determined
                                      "B23025_001E":  "Population 16 years and over",
                                      "B23025_002E": "In labor force", # universe: Population 16 years and over
                                      "B23025_004E": "Employed civilians", # universe: Population 16 years and over
                                      "B23025_005E": "Unemployed civilians", # universe: Population 16 years and over
                                      })
rates_2014.head()

In [ ]:
rates2014 = rates_2014.copy()

In [ ]:
rates2014.index = ['U.S., 2014']
rates2014

In [ ]:
rates2014 = rates2014.reset_index()
rates2014

In [ ]:
rates2014 = rates2014.rename(columns={"index": "Year"})                                           
rates2014

In [ ]:
rates2014 [["Location", "Year"]] = rates2014 .Year.str.split(",", expand=True)
rates2014

In [ ]:
# Add a new column for poverty rate 
rates2014["Poverty rate"] = (100 * \
    rates2014["Individuals- income below poverty level"].astype(
        int) / rates2014["Persons for whom poverty status determined"].astype(int)).round()


# Add a new column for unemployment rate 
rates2014["Unemployment rate"] = (100 * \
    rates2014["Unemployed civilians"].astype(
        int) / rates2014["Population 16 years and over"].astype(int)).round()
rates2014.head()

In [ ]:
#rates2014["Poverty rate"] = rates2014["Poverty rate"].astype(float).round(1)
#rates2014["Unemployment rate"] = rates2014["Unemployment rate"].astype(float).round(1)

In [ ]:
# Add a new column for labor participation rate 
rates2014["Labor participation rate"] = (100 * \
    rates2014["In labor force"].astype(
        int) / rates2014["Population 16 years and over"].astype(int)).round(1)
rates2014.head()

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
#rates2014.to_csv("us_employment_2014.csv", index = False, header=True)