## Employment rates outside of Baltimore NIIF areas: 2017-2021 ACS 5-Year estimates

In [1]:
# From https://www.census.gov/data/developers/data-sets/acs-5year.html
# ACS has non-overlapping datasets that allow comparisons of current ACS data to past ACS data.  
# The 2017-2021 ACS 5-Year estimates can be compared with 2012-2016 ACS 5-Year estimates.

In [2]:
# see https://towardsdatascience.com/using-the-us-census-api-for-data-analysis-a-beginners-guide-98063791785c
# For API call example, see https://api.census.gov/data/2021/acs/acs5/examples.html

In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

In [4]:
pd.set_option('display.max_rows', 200)
pd.set_option('max_colwidth', 100)

In [5]:
# GIS Analyst, Patrick, provided a csv (created from ARCGIS) that contains a key to match Baltimore's NIIF areas with census tracts

# Store filepath in a variable
NonNIIFs = "./raw_data/NonNIIF_Tracts.csv"

# Read the file with the pandas library
# make sure all of these NIIF census tracts are pulled from the census API (see below)
NonNIIFs_df = pd.read_csv(NonNIIFs)
NonNIIFs_df

    STATEFP  COUNTYFP  TRACTCE      GEOID *     NAME              NAMELSAD
0        24       510   120202  24510120202  1202.02  Census Tract 1202.02
1        24       510   272005  24510272005  2720.05  Census Tract 2720.05
2        24       510   120201  24510120201  1202.01  Census Tract 1202.01
3        24       510   272004  24510272004  2720.04  Census Tract 2720.04
4        24       510   272006  24510272006  2720.06  Census Tract 2720.06
5        24       510   100300  24510100300  1003.00     Census Tract 1003
6        24       510   110100  24510110100  1101.00     Census Tract 1101
7        24       510   110200  24510110200  1102.00     Census Tract 1102
8        24       510   120100  24510120100  1201.00     Census Tract 1201
9        24       510   120600  24510120600  1206.00     Census Tract 1206
10       24       510   261100  24510261100  2611.00     Census Tract 2611
11       24       510   220100  24510220100  2201.00     Census Tract 2201
12       24       510   230300  24510230300  2303.00     Census Tract 2303
13       24       510   240100  24510240100  2401.00     Census Tract 2401
14       24       510   240200  24510240200  2402.00     Census Tract 2402
15       24       510   230100  24510230100  2301.00     Census Tract 2301
16       24       510   140100  24510140100  1401.00     Census Tract 1401
17       24       510   271400  24510271400  2714.00     Census Tract 2714
18       24       510   271501  24510271501  2715.01  Census Tract 2715.01
19       24       510   120700  24510120700  1207.00     Census Tract 1207
20       24       510   170100  24510170100  1701.00     Census Tract 1701
21       24       510   271503  24510271503  2715.03  Census Tract 2715.03
22       24       510   271101  24510271101  2711.01  Census Tract 2711.01
23       24       510   271102  24510271102  2711.02  Census Tract 2711.02
24       24       510   271200  24510271200  2712.00     Census Tract 2712
25       24       510   271300  24510271300  2713.00     Census Tract 2713
26       24       510   240300  24510240300  2403.00     Census Tract 2403
27       24       510   240400  24510240400  2404.00     Census Tract 2404
28       24       510   260800  24510260800  2608.00     Census Tract 2608
29       24       510   260900  24510260900  2609.00     Census Tract 2609
30       24       510   230200  24510230200  2302.00     Census Tract 2302
31       24       510   130600  24510130600  1306.00     Census Tract 1306
32       24       510   130700  24510130700  1307.00     Census Tract 1307
33       24       510   130803  24510130803  1308.03  Census Tract 1308.03
34       24       510   130804  24510130804  1308.04  Census Tract 1308.04
35       24       510   130805  24510130805  1308.05  Census Tract 1308.05
36       24       510    10200  24510010200   102.00      Census Tract 102
37       24       510   260700  24510260700  2607.00     Census Tract 2607
38       24       510    10100  24510010100   101.00      Census Tract 101
39       24       510    10300  24510010300   103.00      Census Tract 103
40       24       510    10400  24510010400   104.00      Census Tract 104
41       24       510    10500  24510010500   105.00      Census Tract 105
42       24       510    20100  24510020100   201.00      Census Tract 201
43       24       510    20200  24510020200   202.00      Census Tract 202
44       24       510    20300  24510020300   203.00      Census Tract 203
45       24       510    30100  24510030100   301.00      Census Tract 301
46       24       510   150500  24510150500  1505.00     Census Tract 1505
47       24       510   271900  24510271900  2719.00     Census Tract 2719
48       24       510   272003  24510272003  2720.03  Census Tract 2720.03
49       24       510    30200  24510030200   302.00      Census Tract 302
50       24       510    40100  24510040100   401.00      Census Tract 401
51       24       510    40200  24510040200   402.00      Census Tract 402

In [6]:
# Performing a GET Request and saving the API's response within a variable ("url" is the variable)
# if you get errors, the year you're querying may not be available (response 404 you will get) or there may be a space in your code that you need to remove
# used "\ at end of each line of code and " at beginning of each line so that could use multiple lines of code without causing errors

# Note that all of the census tracts included below were copied from the NonNIIF census tract csv file provided by Patrick/ GIS Analyst

url = "https://api.census.gov/data/2021/acs/acs5?get=NAME,B23025_001E,B23025_002E,B23025_004E,B23025_005E"\
"&for=tract:120202,272005,120201,272004,272006,100300,110100,110200,120100,120600,261100,220100,230300,240100,240200"\
"230100,140100,271400,271501,120700,170100,271503,271101,271102,271200,271300,240300,240400,260800,260900,230200,130600,130700"\
"130803,130804,130805,10200,260700,10100,10300,10400,10500,20100,20200,20300,30100,150500,271900,272003,30200,40100,40200"\
"&in=state:24%20county:510&key=073b804c85c7e45d3710695f0dde8b3c721fdecd"
response = requests.get(url)

response.status_code
#response_json = response.json()
#print(json.dumps(response_json, indent=4, sort_keys=True))

200

In [7]:
#  Get response from census in json format and convert to pandas dataframe
census = response.text
census = json.loads(census)
df = pd.DataFrame.from_dict(census)
df

,0,1,2,3,4,5,6,7
0,NAME,B23025_001E,B23025_002E,B23025_004E,B23025_005E,state,county,tract
1,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300
2,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100
3,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200
4,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100
5,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201
6,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202
7,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600
8,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700
9,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600
10,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804
11,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805
12,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100
13,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500
14,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100
15,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100
16,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200
17,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300
18,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100
19,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300
20,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400
21,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700
22,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800
23,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900
24,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100
25,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101
26,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102
27,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200
28,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300
29,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400
30,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501
31,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503
32,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900
33,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003
34,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004
35,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005
36,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006

In [8]:
# use the code below to change the first row of the dataframe into column headers
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df

,NAME,B23025_001E,B23025_002E,B23025_004E,B23025_005E,state,county,tract
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006

In [9]:
import os

In [10]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [11]:
# if need to change the working directory; may need to change the directory for pulling in config file
#os.chdir('C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis')

In [12]:
# ACS Table codes to use in cell below;  Universe: Population 16 years and over 
# see https://www.census.gov/programs-surveys/acs/technical-documentation/table-shells.html
# Table B23025: Enployment Status
# B23025_002E	Estimate!!Total:!!In labor force:	B23025_002EA,B23025_002M,B23025_002MA
# B23025_003E	Estimate!!Total:!!In labor force:!!Civilian labor force
# B23025_004E	Estimate!!Total:!!In labor force:!!Civilian labor force:!!Employed	B23025_004EA,B23025_004M,B23025_004MA
# B23025_005E	Estimate!!Total:!!In labor force:!!Civilian labor force:!!Unemployed	B23025_005EA,B23025_005M,B23025_005MA

In [13]:
# rename columns
ACS5_2021 = df.rename(columns={"B23025_001E": "Population age 16 and over",
                               "B23025_002E": "In labor force",
                               "B23025_004E": "# employed, age 16 and over",
                               "B23025_005E": "# unemployed age 16 and over",
                               "NAME": "Name"})
ACS5_2021

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006

In [14]:
ACS5_2021_final = ACS5_2021.copy()
ACS5_2021_final.head()

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201

In [15]:
# Add in employment rate (# employed, age 16 and over / Population age 16 and over)
ACS5_2021_final["Employment rate"] = 100 * \
    ACS5_2021_final["# employed, age 16 and over"].astype(
        int) / ACS5_2021_final["Population age 16 and over"].astype(int)
ACS5_2021_final

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract,Employment rate
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300,0.000000
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100,81.239062
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200,73.119375
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100,68.987038
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201,71.016166
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202,38.376754
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600,57.098284
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700,72.568940
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600,80.349854
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804,71.007853
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805,53.908629
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100,53.762297
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500,45.636998
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100,60.806115
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100,59.263959
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200,83.991228
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300,80.459770
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100,85.861713
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300,83.932584
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400,78.765123
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700,68.971711
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800,65.595463
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900,85.304659
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100,87.652174
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101,55.934343
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102,39.714558
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200,65.731258
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300,68.313141
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400,64.797706
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501,63.630988
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503,47.710843
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900,49.097473
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003,56.220096
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004,58.878194
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005,54.331337
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006,56.623681

In [16]:
# Round rate to one decimal point
ACS5_2021_final["Employment rate"] = ACS5_2021_final["Employment rate"].astype(float).round(1)
ACS5_2021_final

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract,Employment rate
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300,0.0
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100,81.2
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200,73.1
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100,69.0
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201,71.0
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202,38.4
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600,57.1
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700,72.6
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600,80.3
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804,71.0
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805,53.9
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100,53.8
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500,45.6
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100,60.8
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100,59.3
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200,84.0
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300,80.5
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100,85.9
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300,83.9
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400,78.8
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700,69.0
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800,65.6
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900,85.3
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100,87.7
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101,55.9
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102,39.7
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200,65.7
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300,68.3
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400,64.8
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501,63.6
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503,47.7
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900,49.1
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003,56.2
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004,58.9
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005,54.3
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006,56.6

In [17]:
# Add in labor force participation rate (In labor force / Population age 16 and over)
ACS5_2021_final["Labor force participation rate"] = 100 * \
    ACS5_2021_final["In labor force"].astype(
        int) / ACS5_2021_final["Population age 16 and over"].astype(int)
ACS5_2021_final

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract,Employment rate,Labor force participation rate
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300,0.0,0.000000
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100,81.2,84.844242
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200,73.1,76.311768
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100,69.0,72.995679
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201,71.0,72.979215
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202,38.4,43.807615
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600,57.1,58.931357
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700,72.6,79.583938
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600,80.3,81.545190
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804,71.0,74.607330
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805,53.9,62.538071
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100,53.8,58.415315
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500,45.6,53.141361
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100,60.8,66.018068
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100,59.3,60.710660
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200,84.0,85.599415
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300,80.5,82.298851
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100,85.9,87.960096
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300,83.9,86.011236
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400,78.8,81.017939
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700,69.0,70.678042
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800,65.6,66.918715
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900,85.3,88.620072
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100,87.7,89.275362
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101,55.9,60.416667
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102,39.7,41.427212
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200,65.7,67.451864
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300,68.3,70.177074
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400,64.8,67.314431
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501,63.6,65.907747
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503,47.7,48.072289
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900,49.1,57.653430
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003,56.2,61.196172
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004,58.9,60.139396
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005,54.3,60.558882
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006,56.6,60.257913

In [18]:
# Round rate to one decimal point
ACS5_2021_final["Labor force participation rate"] = ACS5_2021_final["Labor force participation rate"].astype(float).round(1)
ACS5_2021_final

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract,Employment rate,Labor force participation rate
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300,0.0,0.0
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100,81.2,84.8
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200,73.1,76.3
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100,69.0,73.0
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201,71.0,73.0
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202,38.4,43.8
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600,57.1,58.9
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700,72.6,79.6
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600,80.3,81.5
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804,71.0,74.6
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805,53.9,62.5
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100,53.8,58.4
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500,45.6,53.1
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100,60.8,66.0
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100,59.3,60.7
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200,84.0,85.6
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300,80.5,82.3
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100,85.9,88.0
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300,83.9,86.0
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400,78.8,81.0
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700,69.0,70.7
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800,65.6,66.9
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900,85.3,88.6
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100,87.7,89.3
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101,55.9,60.4
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102,39.7,41.4
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200,65.7,67.5
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300,68.3,70.2
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400,64.8,67.3
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501,63.6,65.9
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503,47.7,48.1
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900,49.1,57.7
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003,56.2,61.2
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004,58.9,60.1
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005,54.3,60.6
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006,56.6,60.3

In [19]:
# Create Geographic Identifier ("GEOID") for each census tract by adding state fips code + county fips code + census tract code
# see https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html#:~:text=The%20full%20GEOID%20for%20many,codes%2C%20in%20which%20they%20nest.
ACS5_2021_final["GEOID"] = ACS5_2021_final['state'] + ACS5_2021_final['county'] + ACS5_2021_final['tract']
ACS5_2021_final

,Name,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,state,county,tract,Employment rate,Labor force participation rate,GEOID
0,"Census Tract 1003, Baltimore city, Maryland",2494,0,0,0,24,510,100300,0.0,0.0,24510100300
1,"Census Tract 1101, Baltimore city, Maryland",2857,2424,2321,77,24,510,110100,81.2,84.8,24510110100
2,"Census Tract 1102, Baltimore city, Maryland",5889,4494,4306,188,24,510,110200,73.1,76.3,24510110200
3,"Census Tract 1201, Baltimore city, Maryland",4166,3041,2874,147,24,510,120100,69.0,73.0,24510120100
4,"Census Tract 1202.01, Baltimore city, Maryland",1732,1264,1230,27,24,510,120201,71.0,73.0,24510120201
5,"Census Tract 1202.02, Baltimore city, Maryland",4990,2186,1915,271,24,510,120202,38.4,43.8,24510120202
6,"Census Tract 1206, Baltimore city, Maryland",2564,1511,1464,47,24,510,120600,57.1,58.9,24510120600
7,"Census Tract 1207, Baltimore city, Maryland",2067,1645,1500,145,24,510,120700,72.6,79.6,24510120700
8,"Census Tract 1306, Baltimore city, Maryland",3430,2797,2756,41,24,510,130600,80.3,81.5,24510130600
9,"Census Tract 1308.04, Baltimore city, Maryland",1528,1140,1085,55,24,510,130804,71.0,74.6,24510130804
10,"Census Tract 1308.05, Baltimore city, Maryland",985,616,531,85,24,510,130805,53.9,62.5,24510130805
11,"Census Tract 1401, Baltimore city, Maryland",3761,2197,2022,163,24,510,140100,53.8,58.4,24510140100
12,"Census Tract 1505, Baltimore city, Maryland",1146,609,523,80,24,510,150500,45.6,53.1,24510150500
13,"Census Tract 1701, Baltimore city, Maryland",1439,950,875,75,24,510,170100,60.8,66.0,24510170100
14,"Census Tract 2201, Baltimore city, Maryland",3940,2392,2335,57,24,510,220100,59.3,60.7,24510220100
15,"Census Tract 2302, Baltimore city, Maryland",1368,1171,1149,16,24,510,230200,84.0,85.6,24510230200
16,"Census Tract 2303, Baltimore city, Maryland",1305,1074,1050,19,24,510,230300,80.5,82.3,24510230300
17,"Census Tract 2401, Baltimore city, Maryland",2907,2557,2496,49,24,510,240100,85.9,88.0,24510240100
18,"Census Tract 2403, Baltimore city, Maryland",1780,1531,1494,37,24,510,240300,83.9,86.0,24510240300
19,"Census Tract 2404, Baltimore city, Maryland",2397,1942,1888,22,24,510,240400,78.8,81.0,24510240400
20,"Census Tract 2607, Baltimore city, Maryland",2227,1574,1536,29,24,510,260700,69.0,70.7,24510260700
21,"Census Tract 2608, Baltimore city, Maryland",1587,1062,1041,21,24,510,260800,65.6,66.9,24510260800
22,"Census Tract 2609, Baltimore city, Maryland",3348,2967,2856,111,24,510,260900,85.3,88.6,24510260900
23,"Census Tract 2611, Baltimore city, Maryland",1725,1540,1512,24,24,510,261100,87.7,89.3,24510261100
24,"Census Tract 2711.01, Baltimore city, Maryland",1584,957,886,71,24,510,271101,55.9,60.4,24510271101
25,"Census Tract 2711.02, Baltimore city, Maryland",5255,2177,2087,84,24,510,271102,39.7,41.4,24510271102
26,"Census Tract 2712, Baltimore city, Maryland",4882,3293,3209,84,24,510,271200,65.7,67.5,24510271200
27,"Census Tract 2713, Baltimore city, Maryland",2146,1506,1466,40,24,510,271300,68.3,70.2,24510271300
28,"Census Tract 2714, Baltimore city, Maryland",3139,2113,2034,69,24,510,271400,64.8,67.3,24510271400
29,"Census Tract 2715.01, Baltimore city, Maryland",3382,2229,2152,77,24,510,271501,63.6,65.9,24510271501
30,"Census Tract 2715.03, Baltimore city, Maryland",830,399,396,3,24,510,271503,47.7,48.1,24510271503
31,"Census Tract 2719, Baltimore city, Maryland",2770,1597,1360,237,24,510,271900,49.1,57.7,24510271900
32,"Census Tract 2720.03, Baltimore city, Maryland",4180,2558,2350,198,24,510,272003,56.2,61.2,24510272003
33,"Census Tract 2720.04, Baltimore city, Maryland",3013,1812,1774,38,24,510,272004,58.9,60.1,24510272004
34,"Census Tract 2720.05, Baltimore city, Maryland",2505,1517,1361,156,24,510,272005,54.3,60.6,24510272005
35,"Census Tract 2720.06, Baltimore city, Maryland",2559,1542,1449,93,24,510,272006,56.6,60.3,24510272006

In [20]:
# Remove extraneous columns
ACS5_2021_final = ACS5_2021_final.drop(['Name','state','county','tract'], axis=1)
ACS5_2021_final

,Population age 16 and over,In labor force,"# employed, age 16 and over",# unemployed age 16 and over,Employment rate,Labor force participation rate,GEOID
0,2494,0,0,0,0.0,0.0,24510100300
1,2857,2424,2321,77,81.2,84.8,24510110100
2,5889,4494,4306,188,73.1,76.3,24510110200
3,4166,3041,2874,147,69.0,73.0,24510120100
4,1732,1264,1230,27,71.0,73.0,24510120201
5,4990,2186,1915,271,38.4,43.8,24510120202
6,2564,1511,1464,47,57.1,58.9,24510120600
7,2067,1645,1500,145,72.6,79.6,24510120700
8,3430,2797,2756,41,80.3,81.5,24510130600
9,1528,1140,1085,55,71.0,74.6,24510130804
10,985,616,531,85,53.9,62.5,24510130805
11,3761,2197,2022,163,53.8,58.4,24510140100
12,1146,609,523,80,45.6,53.1,24510150500
13,1439,950,875,75,60.8,66.0,24510170100
14,3940,2392,2335,57,59.3,60.7,24510220100
15,1368,1171,1149,16,84.0,85.6,24510230200
16,1305,1074,1050,19,80.5,82.3,24510230300
17,2907,2557,2496,49,85.9,88.0,24510240100
18,1780,1531,1494,37,83.9,86.0,24510240300
19,2397,1942,1888,22,78.8,81.0,24510240400
20,2227,1574,1536,29,69.0,70.7,24510260700
21,1587,1062,1041,21,65.6,66.9,24510260800
22,3348,2967,2856,111,85.3,88.6,24510260900
23,1725,1540,1512,24,87.7,89.3,24510261100
24,1584,957,886,71,55.9,60.4,24510271101
25,5255,2177,2087,84,39.7,41.4,24510271102
26,4882,3293,3209,84,65.7,67.5,24510271200
27,2146,1506,1466,40,68.3,70.2,24510271300
28,3139,2113,2034,69,64.8,67.3,24510271400
29,3382,2229,2152,77,63.6,65.9,24510271501
30,830,399,396,3,47.7,48.1,24510271503
31,2770,1597,1360,237,49.1,57.7,24510271900
32,4180,2558,2350,198,56.2,61.2,24510272003
33,3013,1812,1774,38,58.9,60.1,24510272004
34,2505,1517,1361,156,54.3,60.6,24510272005
35,2559,1542,1449,93,56.6,60.3,24510272006

In [21]:
# change order of columns
ACS5_2021_final = ACS5_2021_final[['GEOID', 'Population age 16 and over', '# employed, age 16 and over', 
                                   '# unemployed age 16 and over',"Employment rate", 
                                   'In labor force',"Labor force participation rate"]]
ACS5_2021_final

,GEOID,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,Employment rate,In labor force,Labor force participation rate
0,24510100300,2494,0,0,0.0,0,0.0
1,24510110100,2857,2321,77,81.2,2424,84.8
2,24510110200,5889,4306,188,73.1,4494,76.3
3,24510120100,4166,2874,147,69.0,3041,73.0
4,24510120201,1732,1230,27,71.0,1264,73.0
5,24510120202,4990,1915,271,38.4,2186,43.8
6,24510120600,2564,1464,47,57.1,1511,58.9
7,24510120700,2067,1500,145,72.6,1645,79.6
8,24510130600,3430,2756,41,80.3,2797,81.5
9,24510130804,1528,1085,55,71.0,1140,74.6
10,24510130805,985,531,85,53.9,616,62.5
11,24510140100,3761,2022,163,53.8,2197,58.4
12,24510150500,1146,523,80,45.6,609,53.1
13,24510170100,1439,875,75,60.8,950,66.0
14,24510220100,3940,2335,57,59.3,2392,60.7
15,24510230200,1368,1149,16,84.0,1171,85.6
16,24510230300,1305,1050,19,80.5,1074,82.3
17,24510240100,2907,2496,49,85.9,2557,88.0
18,24510240300,1780,1494,37,83.9,1531,86.0
19,24510240400,2397,1888,22,78.8,1942,81.0
20,24510260700,2227,1536,29,69.0,1574,70.7
21,24510260800,1587,1041,21,65.6,1062,66.9
22,24510260900,3348,2856,111,85.3,2967,88.6
23,24510261100,1725,1512,24,87.7,1540,89.3
24,24510271101,1584,886,71,55.9,957,60.4
25,24510271102,5255,2087,84,39.7,2177,41.4
26,24510271200,4882,3209,84,65.7,3293,67.5
27,24510271300,2146,1466,40,68.3,1506,70.2
28,24510271400,3139,2034,69,64.8,2113,67.3
29,24510271501,3382,2152,77,63.6,2229,65.9
30,24510271503,830,396,3,47.7,399,48.1
31,24510271900,2770,1360,237,49.1,1597,57.7
32,24510272003,4180,2350,198,56.2,2558,61.2
33,24510272004,3013,1774,38,58.9,1812,60.1
34,24510272005,2505,1361,156,54.3,1517,60.6
35,24510272006,2559,1449,93,56.6,1542,60.3

In [22]:
# Prepare to create df where we will sum the population, # employed, # unemployed, in labor force for all of the NIIF tracts 
ACS5_2021_sum1 = ACS5_2021_final.copy()
ACS5_2021_sum1

,GEOID,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,Employment rate,In labor force,Labor force participation rate
0,24510100300,2494,0,0,0.0,0,0.0
1,24510110100,2857,2321,77,81.2,2424,84.8
2,24510110200,5889,4306,188,73.1,4494,76.3
3,24510120100,4166,2874,147,69.0,3041,73.0
4,24510120201,1732,1230,27,71.0,1264,73.0
5,24510120202,4990,1915,271,38.4,2186,43.8
6,24510120600,2564,1464,47,57.1,1511,58.9
7,24510120700,2067,1500,145,72.6,1645,79.6
8,24510130600,3430,2756,41,80.3,2797,81.5
9,24510130804,1528,1085,55,71.0,1140,74.6
10,24510130805,985,531,85,53.9,616,62.5
11,24510140100,3761,2022,163,53.8,2197,58.4
12,24510150500,1146,523,80,45.6,609,53.1
13,24510170100,1439,875,75,60.8,950,66.0
14,24510220100,3940,2335,57,59.3,2392,60.7
15,24510230200,1368,1149,16,84.0,1171,85.6
16,24510230300,1305,1050,19,80.5,1074,82.3
17,24510240100,2907,2496,49,85.9,2557,88.0
18,24510240300,1780,1494,37,83.9,1531,86.0
19,24510240400,2397,1888,22,78.8,1942,81.0
20,24510260700,2227,1536,29,69.0,1574,70.7
21,24510260800,1587,1041,21,65.6,1062,66.9
22,24510260900,3348,2856,111,85.3,2967,88.6
23,24510261100,1725,1512,24,87.7,1540,89.3
24,24510271101,1584,886,71,55.9,957,60.4
25,24510271102,5255,2087,84,39.7,2177,41.4
26,24510271200,4882,3209,84,65.7,3293,67.5
27,24510271300,2146,1466,40,68.3,1506,70.2
28,24510271400,3139,2034,69,64.8,2113,67.3
29,24510271501,3382,2152,77,63.6,2229,65.9
30,24510271503,830,396,3,47.7,399,48.1
31,24510271900,2770,1360,237,49.1,1597,57.7
32,24510272003,4180,2350,198,56.2,2558,61.2
33,24510272004,3013,1774,38,58.9,1812,60.1
34,24510272005,2505,1361,156,54.3,1517,60.6
35,24510272006,2559,1449,93,56.6,1542,60.3

In [23]:
# Remove extraneous columns
ACS5_2021_sum = ACS5_2021_sum1.drop(['Employment rate','Labor force participation rate'], axis=1)
ACS5_2021_sum.dtypes

0
GEOID                           object
Population age 16 and over      object
# employed, age 16 and over     object
# unemployed age 16 and over    object
In labor force                  object
dtype: object

In [24]:
# change data types from "object"/ text to "float"/numeric
ACS5_2021_sum[['Population age 16 and over', '# employed, age 16 and over', '# unemployed age 16 and over',
               'In labor force']]= ACS5_2021_sum[['Population age 16 and over', '# employed, age 16 and over', '# unemployed age 16 and over',
               'In labor force']].astype(float)
ACS5_2021_sum.dtypes

0
GEOID                            object
Population age 16 and over      float64
# employed, age 16 and over     float64
# unemployed age 16 and over    float64
In labor force                  float64
dtype: object

In [25]:
#  sum the population age 16 and over and # employed , age 16 and over for all of the census tracts that are in NIIF boundary
# need to make sure the data types are numeric and not "object" first
# "s" is a Pandas series
s = ACS5_2021_sum[['Population age 16 and over', '# employed, age 16 and over', '# unemployed age 16 and over',
               'In labor force']].sum()

In [26]:
# Convert the series ("s") to a dataframe
sums2 = s.to_frame()
sums2

                                    0
0
Population age 16 and over    97877.0
# employed, age 16 and over   61283.0
# unemployed age 16 and over   2936.0
In labor force                64384.0

In [27]:
# "Flip" the df so we have column headers
sums = sums2.transpose()
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force
0,97877.0,61283.0,2936.0,64384.0

In [28]:
# Add in employment rate (# employed, age 16 and over / Population age 16 and over)
sums["Employment rate"] = 100 * \
    sums["# employed, age 16 and over"].astype(
        int) / sums["Population age 16 and over"].astype(int)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate
0,97877.0,61283.0,2936.0,64384.0,62.612258

In [29]:
# Round rate to one decimal point
sums["Employment rate"] = sums["Employment rate"].astype(float).round(1)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate
0,97877.0,61283.0,2936.0,64384.0,62.6

In [30]:
# Add in labor force participation rate (In labor force / Population age 16 and over)
sums["Labor force participation rate"] = 100 * \
    sums["In labor force"].astype(
        int) / sums["Population age 16 and over"].astype(int)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate,Labor force participation rate
0,97877.0,61283.0,2936.0,64384.0,62.6,65.78052

In [31]:
# Round rate to one decimal point
sums["Labor force participation rate"] = sums["Labor force participation rate"].astype(float).round(1)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate,Labor force participation rate
0,97877.0,61283.0,2936.0,64384.0,62.6,65.8

In [32]:
# Add in unemployment rate (# unemployed, age 16 and over / Population age 16 and over)
sums["Unemployment rate"] = 100 * \
    sums["# unemployed age 16 and over"].astype(
        int) / sums["Population age 16 and over"].astype(int)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate,Labor force participation rate,Unemployment rate
0,97877.0,61283.0,2936.0,64384.0,62.6,65.8,2.999683

In [33]:
# Round rate to one decimal point
sums["Unemployment rate"] = sums["Unemployment rate"].astype(float).round(1)
sums

,Population age 16 and over,"# employed, age 16 and over",# unemployed age 16 and over,In labor force,Employment rate,Labor force participation rate,Unemployment rate
0,97877.0,61283.0,2936.0,64384.0,62.6,65.8,3.0

In [34]:
# Export file as a CSV, without the Pandas index, but with the header
# Do not run this last code block until you have all previous code blocks in their final form:

sums.to_csv("Jupyter_nb_final_csvs/NonNIIF_employment_2017-2021.csv", index = False, header=True)